/* scrolling text  */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* { box-sizing: border-box; }

body,
html { overflow-x: hidden; 
/* overflow-y: scroll; */
padding-bottom: 20px;
}

.playbtn{
  background-image: url('/assets/playbtn.png');
  height: 40px;
  width: 40px;
  padding: 40px;
  background-repeat: no-repeat;
}
.btn-primary {
  min-width:50vw;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: cursive;
  font-weight: 700;
  color: #fff;
  border-color: #ffd32a;
  background-color: #f53b57;
  cursor:pointer;

}

.bar {
 
  height: auto;
  width: 100%;
  padding: 10px;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2);   
}

.cardtxt{
  color: white;
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: medium !important;
}

.glow {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow:0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff
  }
  
  to {
    text-shadow:0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff
  }
  50% {
    opacity: 0.2;
  }
}

/* rest of the body  */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body{
    background-image: url('../assets/bg01.gif');
    background-position: center;
    background-repeat: repeat;
  }

  .card-front-img{
  height: 128px;
  margin-bottom: 20px;
  }

  h1{
    font-size: 3.5rem;
    font-family: 'Montserrat';
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }
  
  .wrapper{
    width: auto;
    align-content: center;
    margin: 0 auto;
    /* max-width: 80rem; */
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.0);
    margin: 5px;
    padding-top: 10px;
  }
  
  .col{
    width: calc(30% - 1rem);
    margin: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      /* -webkit-perspective: 1000px;
              perspective: 1000px; */
  }
  
  .front, .back{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    /* background-attachment: local; */
    box-shadow:0 4px 8px 0 rgba(0,0,0, 0.5);
    border-radius: 10px;  
    height: 400px;
    width: 300px;
    max-width: 300px;

    text-align: center;
    color: #fff;
    font-size: 1.5rem;

    /* gradience */
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /*remaining browsers*/
     

    /* animation */
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }


    /* to retain position after flip */
    .back{
      position: absolute;
      top: 0;
      left: 0px;
  }
  
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 300px;
      height: 400px;
      content: '';
      display: block;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }

  .container:hover .front, .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }

  
  .eastercard{
    color: gold;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: center;
    -webkit-animation: golden 3s ease-in-out infinite alternate;
    -moz-animation: golden 3s ease-in-out infinite alternate;
    animation: golden 3s ease-in-out infinite alternate;
  }
 
  @-webkit-keyframes golden {
    from {
      text-shadow:0 0 1px gold, 0 0 2px gold, 0 0 3px gold
    }
    
    to {
      text-shadow:0 0 2px gold, 0 0 3px gold, 0 0 5px gold
    }
    50% {
      opacity: 0.2;
    }
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0rem;
      width: 300px;
      padding: 1rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    /* background: #C6D4DF; */
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* bottom: -.75rem; */
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      /* margin-left: 25px; */
    }
  }